<div class="container" style="padding:0">
    <div class="row">
        <div class="col-12 border" style="cursor: pointer;border-color: #222428 !important;height: 6vh;font-size: 24px;">
            <header>
                <span class="text-light">
              DC
            </span>
            </header>

        </div>
        <div class="col-12">
            <app-chanel-text>

            </app-chanel-text>
            <app-chanel-voice>

            </app-chanel-voice>
        </div>


    </div>
</div>