<div class="container" style="padding:0">
    <div class="row">
        <div class="col-12 border" style="cursor: pointer;border-color: white !important;height: 6vh;font-size: 24px;">
            <header>
                <span class="text-light">
            Marvel
          </span>
            </header>

        </div>
        <div class="col-12">
            <app-chanel-text2>

            </app-chanel-text2>
            <app-chanel-voice2>

            </app-chanel-voice2>
        </div>


    </div>
</div>