<div class="col-12">

    <span class="text-light" style="    font-weight: bold;">
      Canal de Voz
    </span>
    <ul class="list-group">
        <li class="list-group-item text-light" style="background: transparent!important;border: 0;">Genreal</li>
        <li class="list-group-item text-light" style="background: transparent!important;border: 0;">Video Juegos</li>
        <li class="list-group-item text-light" style="background: transparent!important;border: 0;">Informativo</li>
    </ul>
</div>