<div class="container col-12" style="height:10vh">
    <div class="row">
        <div class="col-1">
            <div class="iconLeft">
                <!--  <i appStatusChat class="fas fa-cog"></i>
                 -->

                <div class="dropdown">
                    <i class="fas fa-cog"></i>
                    <div class="dropdown-content">
                        <a href="#" (click)="setConectado()">Conectado</a>
                        <a href="#" (click)="setDesconectado()">Desconectado</a>

                    </div>
                </div>
                <i class="fas fa-circle" [ngClass]="{online: estado ==true, offline: estado==false}"></i>
            </div>
        </div>
        <div class="col-2" style="background: #ffffff ;">
            <div class="box">
                <p>Messenger</p>
                <i class="fas fa-edit"></i>
            </div>
        </div>
        <div class="col-7" style="background: #ffffff;;height:6vh">
            <div class="_2v6o" style="text-align: center;">
                <h4 class="_17w2" id="js_8">
                    <span class="box2Name">{{item}}</span>

                </h4>
                <h4 class="_17w2" id="js_8">
                    <span class="box2Name">Messenger</span>
                </h4>

            </div>

        </div>
        <div class="col-2 iconCall" style="height: 10vh;
        margin-top: 0px;
        padding-top: 15px;
        font-size: 23px;
        text-align: right;">
            <i class="fas fa-phone text-right"></i>
            <i class="fas fa-video text-right"></i>
            <i class="fas fa-info-circle text-right"></i>
        </div>



    </div>
</div>
<div class="container col-12">
    <div class="row">
        <div class="col-3" style="background:#FFFFFF;height:90vh">
            <div class="input-group col-12 deletePadding">
                <div class="input-group-prepend bgSearch " style="height:38px">
                    <span class="input-group-text styleSearch " id="basic-addon1"><i style="color:#E0E2E5" class="fas fa-search"></i></span>
                </div>
                <input type="text" [(ngModel)]="queryString" class="form-control styleSearch text-center" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div *ngFor="let user of users | filterdata: queryString : 'name' ; let i = index " class="memberOffline-2lN7gt member-3W1lQa" (click)="guardarLocal(user)" style="height: 64px;
margin-left: 0px;
padding-top: 12px;
">

                <div class="content-OzHfo4 col-12 padding12">
                    <div class="row mrg0">
                        <div class="col-2 text-left deletepadding" style="padding:0px">
                            <img class="" style="border-radius:88%;width: 96%;" src="{{user.img}}">
                        </div>
                        <div class="memberInner-2CPc3V col-8 text-left deletepadding">
                            <div class="nameTag-3p0yK- nameTag-m8r81H deletepadding estiloNombre">
                                <span class="usernameOffline-3VSVLk username-1cB_5E ">{{user.name}}</span>
                            </div>
                            <div class="nameTag-3p0yK- nameTag-m8r81H deletepadding estiloMensaje">
                                <span class="usernameOffline-3VSVLk username-1cB_5E ">Este es un mensaje</span>
                            </div>
                        </div>
                        <div class="col-2" style="padding:0px">
                            <p style="color:#919191">1 hora</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6" style="background:#FFFFFF;height:89vh">
            <app-nav-chat></app-nav-chat>
        </div>
        <div class="col-3" style="background:#FFFFFF;height:90vh">
            <app-nav-tools></app-nav-tools>

        </div>
    </div>
</div>