<div class="container col-12" style="height:10vh">
    <div class="row">
        <div class="col-1">
            <div class="iconLeft">
               <!--  <i appStatusChat class="fas fa-cog"></i>
                 -->
                
                <div class="dropdown">
                    <i appStatusChat class="fas fa-cog"></i>
                    <div class="dropdown-content">
                      <a href="#">Conectado</a>
                      <a href="#">Desconectado</a>
                      <a href="#">Ausente</a>
                    </div>
                  </div>
                  <i class="fas fa-circle"></i>
            </div>
        </div>
        <div class="col-2" style="background: #ffffff ;">
            <div class="box">
                <p>Messenger</p>
                <i class="fas fa-edit"></i>
            </div>
        </div>
        <div class="col-7" style="background: #ffffff;;height:6vh">
            <div class="_2v6o" style="text-align: center;">
                <h4 class="_17w2" id="js_8">
                    <span class="box2Name">{{item}}</span>

                </h4>
                <h4 class="_17w2" id="js_8">
                    <span class="box2Name">Messenger</span>
                </h4>
                
            </div>

        </div>
        <div class="col-2 iconCall" style="height: 10vh;
        margin-top: 0px;
        padding-top: 15px;
        font-size: 23px;
        text-align: right;">
            <i class="fas fa-phone text-right"></i>
            <i class="fas fa-video text-right"></i>
            <i class="fas fa-info-circle text-right"></i>
        </div>



    </div>
</div>
<div class="container col-12">
    <div class="row">
        <div class="col-3" style="background:#FFFFFF;height:90vh">
            <app-nav-users></app-nav-users>

        </div>
        <div class="col-6" style="background:#FFFFFF;height:89vh">
            <app-nav-chat></app-nav-chat>
        </div>
        <div class="col-3" style="background:#FFFFFF;height:90vh">
            <app-nav-tools></app-nav-tools>

        </div>
    </div>
</div>