<div class="container" style="padding:0">
    <div class="row">
        <div class="col-12 border" style="cursor: pointer;border-color: #ffffff !important;height: 83vh;font-size: 24px;">
            <header>
                <span class="text-light">
            
            </span>
            </header>
            <div class="col-12" style="height: 70vh;padding-top: 15px;">
                <div>
                   
                    <ul>
                        <p class="col-12 example1" style="color:rgba(69, 71, 73, 0.522)" *ngFor="let hero of heroes">
                            {{hero}}
                            
                        </p>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <div class="content col-12" style="padding:0px">
            <div class="input-group col-12" style="padding:0px">
                <input placeholder="Escribe un mensaje ..." (keydown)="keyDownFunction($event)" class="col5" style="background:rgb(255, 255, 255); color: rgb(0, 0, 0);height: 45px;" class="form-control" aria-label="With textarea" #newHero>
                <i class="fas fa-images"></i>
                <i class="fas fa-gift"></i>
                <i class="fas fa-grin-alt"></i>
                <i class="fas fa-microphone"></i>
                <i class="fas fa-gamepad"></i>
                <i class="fas fa-camera"></i>
                <i class="fas fa-thumbs-up"></i>
                <!-- <button class="fas" (click)="addHero(newHero.value)">Enviar</button> -->

            </div>
        </div>
    </div>
</div>