<div class="container" style="padding:0">
    <div class="row">
        <div class="col-12 border" style="cursor: pointer;border-color: #292B2F !important;height: 6vh;font-size: 24px;">
            <header>
                <span class="text-light">
              #General
            </span>
            </header>
            <div class="col-12" style="height: 78vh;padding-top: 15px;">
                <div>


                    <ul>
                        <p class="col-12" style="color:#D2D3D4" *ngFor="let hero of heroes">
                            {{hero}}
                        </p>
                    </ul>
                </div>
                <hr>
            </div>
            <div>
                <div class="input-group col-12">
                    <input placeholder="Escribe un mensaje ..." (keydown)="keyDownFunction($event)" class="col5" style="background:rgb(255, 255, 255); color: rgb(0, 0, 0);height: 45px;" class="form-control" aria-label="With textarea" #newHero>
                    <i class="fas fa-images"></i>
                    <i class="fas fa-gift"></i>
                    <i class="fas fa-grin-alt"></i>
                    <i class="fas fa-microphone"></i>
                    <i class="fas fa-gamepad"></i>
                    <i class="fas fa-camera"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <!-- <button class="fas" (click)="addHero(newHero.value)">Enviar</button> -->

                </div>
            </div>
        </div>
    </div>
</div>