.fas{
    background: white;
    padding: 10px;
}
.colorTran{
    background: transparent;
}
.example1{
    border: 2px solid white;
    padding: 0px;
    background: #0084ff;
    white-space: normal;
    border-radius: 25px;
}