<div class="col-12">
    <span class="text-light" style="    font-weight: bold;">
    Canal de Texto
  </span>
    <ul class="list-group">
        <li class="list-group-item text-light" style="background: transparent!important;border: 0;">Buscar en la conversacion</li>
        <li class="list-group-item text-light" style="background: transparent!important;border: 0;">Editar apodos</li>
        <li class="list-group-item text-light" style="background: transparent!important;border: 0;">Cambiar el color</li>
        <li class="list-group-item text-light" style="background: transparent!important;border: 0;">Cambiar emoji</li>
        <li class="list-group-item text-light" style="background: transparent!important;border: 0;">Notificaciones</li>
    </ul>

</div>