<div *ngFor="let user of users" class="memberOffline-2lN7gt member-3W1lQa" (click)="guardarLocal(user)">
    <div class="content-OzHfo4 col-12">
        <div class="col-3" style="    text-align: right;padding:0px">
            <img class="" style="border-radius:50%;width: 55%;" src="{{user.img}}">
        </div>
        <div class="memberInner-2CPc3V">
            <div style="padding-left:10px" class="nameTag-3p0yK- nameTag-m8r81H"><span class="usernameOffline-3VSVLk username-1cB_5E text-light">{{user.nombre}}</span></div>
        </div>
    </div>
</div>