<div class="container col-12">
    <div class="row">
        <div class="col-4" style="background:#2F3136;height:100vh">
            <div class="container" style="padding:0">
                <app-nav-tools2></app-nav-tools2>
            </div>
        </div>
        <div class="col-5" style="background:#36393F;height:100vh">
            <app-nav-chat2></app-nav-chat2>
        </div>
        <div class="col-3" style="background:#2F3136;height:100vh">
            <app-nav-users2></app-nav-users2>
        </div>
    </div>
</div>