<div class="col-12 border" style="padding:0;cursor: pointer;border-color: #222428 !important;height: 6vh;font-size: 24px;">
    <nav class="navbar col-12" style="padding:0px;">
        <form class="form-inline col-12" style="padding:0px;">
            <div class="input-group col-12" style="padding:0px;">
                <div class="input-group-prepend " style="background:#484C52">
                    <span style="background:#484C52" class="input-group-text text-light" id="basic-addon1">@</span>
                </div>
                <input style="background:#484C52" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </form>
    </nav>

</div>