<div class="col-12 border contentSearch">
    <nav class="navbar col-12 deletePadding">
        <form class="form-inline col-12 deletePadding">
            <div class="input-group col-12 deletePadding">
                <div class="input-group-prepend bgSearch ">
                    <span class="input-group-text styleSearch " id="basic-addon1"><i style="color:#939494" class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control styleSearch text-center" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </form>
    </nav>

</div>