<div class="col-12">
        <div  class="memberOffline-2lN7gt member-3W1lQa">
                <div class="content-OzHfo4 col-12">
                    <div class="col-3" style="    text-align: right;padding:0px">
                        <img class="" style="border-radius:50%;width: 90%;padding-top: 10px" src="https://www.shareicon.net/data/2016/08/18/813791_people_512x512.png">
                        <p class="text-black">Ricardo</p>
                    <hr>
                    </div>
                    <div class="memberInner-2CPc3V">
                        <div style="padding-left:10px" class="nameTag-3p0yK- nameTag-m8r81H"><span class="usernameOffline-3VSVLk username-1cB_5E text-light">{{user.nombre}}</span></div>
                    </div>
                </div>
            </div>

        <span class="text-light " style="    font-weight: bold;">
                <p style="color: black">Opciones</p> 
               </span>
               <ul class="list-group">
                   <li class="list-group-item text-black" style="background: transparent!important;border: 0;"><i class="fas fa-search color-icono"></i>    Buscar en la conversacion</li>
                   <li class="list-group-item text-black" style="background: transparent!important;border: 0;"><i class="fas fa-edit color-icono"></i>      Editar apodos</li>
                   <li class="list-group-item text-black" style="background: transparent!important;border: 0;"><i class="fas fa-palette color-icono"></i>   Cambiar el color</li>
                   <li class="list-group-item text-black" style="background: transparent!important;border: 0;"><i class="far fa-thumbs-up color-icono"></i> Cambiar emoji</li>
                   <li class="list-group-item text-black" style="background: transparent!important;border: 0;"><i class="far fa-bell color-icono"></i>      Notificaciones</li>
               </ul>


</div>